<%- include('partials/header') %>

<!-- Navbar -->

<div class="root">
  
<div class="navbar-container">
  <div class="logo-container">
    <a href="/">Inkflow</a>
  </div>
  <div class="nav-links-container">
    <p><a class="signin-responsive" href="/blogs/new">Write</a></p>
    <p><a class="signin-responsive" href="/login">Sign in</a></p>
    <div><a href="/signup"><button>Get started</button></a></div>
  </div>
</div>

<div class="bottom-line"><hr></div>
<!-- Navbar -->

<!-- hero section -->

<div class="hero-section">
  <div class="hero-tile">
    <div class="hero-text-content">
      <p>Human</p>
      <p>stories & ideas</p>
      <div class="one-liner">A place to read, write, and deepen your understanding</div>
    </div>
    <div class="hero-btn">
      <a href="/signup"><button>Start reading</button></a>
    </div>
  </div>

  <div class="hero-image">
    <img src="https://miro.medium.com/v2/format:webp/4*SdjkdS98aKH76I8eD0_qjw.png" alt="Image">
  </div>
</div>
<div class="footer-line"><hr></div>



<%- include('partials/footer') %>
