<%- include('partials/header') %>
<%- include('partials/navbar') %>

<form action="/blogs" method="POST">
  <!-- <label for="publisher">Publisher</label>
  <input type="text" name="publisher" autofocus> -->

  <!-- <label for="title">Title</label> -->
  <input class="title" type="text" name="title" placeholder="Title">
<!-- 
  <label for="subTitle">Description</label> -->
  <textarea class="story" type="text" name="subTitle" placeholder="Tell your story..."></textarea>

  <input class="blog-banner" type="text" name="blogBanner" placeholder="Paste your blog banner link">

  <button class="publish" type="submit">Publish</button>
</form>